@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ----- bespoke CSS lifted verbatim from the HTML prototype ----- */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  min-width: 100%;
  border: 1px solid #e5e7eb;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.table th {
  border: 1px solid #e5e7eb;
  background-color: #191970;
  color: #fff;
  padding: 4px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  background-color: #191970;
}

.table td {
  padding: 0.25rem;
  border: 1px solid #e5e7eb;
}

.input {
  border: 1px solid #e5e7eb;
  padding: 0.25rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  width: 100%;
  /* Default for forms */
  box-sizing: border-box;
}

.btn-primary {
  background-color: #191970;
  color: #fff;
  padding: 0 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #4338ca;
}

.btn-light {
  background-color: #d1d5db;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 28rem;
}

.portal-card {
  transition: all 0.2s;
}